.container{
    width: 50%;
    height: 300px;
    border: 2px black solid;
    background-color: aqua;
    font-size: 2rem;
}
.box1{
    font-size: 3vw;
}
.flex-container {
      display: flex;
      flex-wrap: wrap;
      background-color: #eee;
      padding: 10px;
    }
 .flex-item {
      background-color: #673AB7;
      margin: 10px;
      width: 150px;
      height: 100px;
      text-align: center;
      border-radius: 8px;
    }